<!DOCTYPE html>
<html lang="en" dir="ltr">
  {{>head}}
<body>
  <section class="section">
    <div class="container">
      <h1>We'll be right back!</h1>
      <p>Site is currently being updated</p>
    </div>
  </section>
</body>
</html>